<h1>一覧画面</h1>
<% if flash.notice %>
    <p>通知メッセージ：<%= flash.notice %> </p>
<% end %>
<br/>
<div>
  <h2>検索</h2>
  <%= form_tag :search_actors, method: :get do  %>
      <p>first_name: <%= text_field_tag :first_name, params[:first_name] %></p>
      <p>last_name:  <%= text_field_tag :last_name, params[:last_name] %><%= submit_tag '検索' %></p>
  <% end %>
</div>
<br/>
<h2>Actorの一覧</h2>
<table class="table table-striped table-bordered">
  <thread class="thread-inverse">
    <tr>
      <th>FirstName</th><th>LastName</th><th></th><th></th>
    </tr>
  </thread>
  <tbody>
  <% @actors.each do |actor| %>
    <tr>
      <td><%= actor.first_name %></td><td><%= actor.last_name %></td>
      <td><%= link_to '編集', edit_actor_path(actor), method: :get %></td>
      <td><%= link_to '削除', actor_path(actor), method: :delete, data: {confirm: '本当に削除しますか？'}  %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<br/>
<h2>Actorの追加</h2>
<%= link_to '追加', :new_actor  %>
