<div>
  <h1 class="page-header">Member新規登録画面</h1>
  <% if flash.notice %>
      <div class="alert alert-info">通知メッセージ：<%= flash.notice %></div>
  <% end %>
  <% if @member.errors.any? %>
      <div id="error_explanation" class="alert alert-danger">
        <ul>
          <% @member.errors.full_messages.each do |message| %>
              <li><%= message %></li>
          <% end %>
        </ul>
      </div>
  <% end %>
</div>

<div>
  <%= form_for @member do |form| %>
      <div class="form-group">
        <table class="table table-bordered">
          <tr>
            <th scope="row"><%=form.label :name %></th>
            <td><%= form.text_field :name %></td>
          </tr>
          <tr>
            <th scope="row"><%=form.label :password %></th>
            <td><%= form.text_field :password %></td>
          </tr>
          <tr>
            <th scope="row"><%=form.label :password_confirmation %></th>
            <td><%= form.text_field :password_confirmation %></td>
          </tr>
        </table>
      </div>
      <div class="form-group">
        <%= form.submit '登録', class: 'btn btn-default' %>
      </div>
  <% end %>
</div>